<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xeyla"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.xeyla.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.xeyla.VisualizarRoupas"
            android:label="@string/title_activity_visualizar_roupas" >
        </activity>
        <activity
            android:name="com.example.xeyla.CadastrarRoupa"
            android:label="@string/title_activity_cadastrar_roupa"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.xeyla.ViewPhoto"
            android:label="@string/title_activity_view_photo" >
        </activity>
        <activity
            android:name="com.example.xeyla.SucessoCadastro"
            android:label="@string/title_activity_sucesso_cadastro" >
        </activity>
        <activity
            android:name="com.example.xeyla.Visualizar"
            android:label="@string/title_activity_visualizar" >
        </activity>
        <activity android:name="com.example.xeyla.SelecionarCor" android:label="@string/title_activity_selecionar_cor">
        </activity><activity
            android:name="com.example.xeyla.SelecionarTipo"
            android:label="@string/title_activity_selecionar_tipo" >
        </activity>
        <activity
            android:name="com.example.Photo.PhotoIntentActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

</manifest>
